<div class="row">
  <div class="col-xl-4" *ngFor="let category of categories; let i = index">
    <div class="card card-background mb-4"
         [ngClass]="{'card-odd': i%2!==0, 'card-even': i%2===0, 'card-background-lg': i <= 2, 'card-background-xs-1': i <= 2, 'card-background-xs-2': i > 2}"
         [style.background-image]="'url(' + category.photoPath +')'"
         [style.background-position]="i > 2 ? 'bottom -120px center' : 'bottom -80px center'">
      <h3 class="card-title">{{category.name}}</h3>
      <p class="card-text">{{category.description}}</p>
      <button class="button card-btn" [routerLink]="['/search']" [queryParams]="{filterBy: 'flowers'}">
        <span class="button-text">Еще</span>
        <span class="view-button-icon"></span>
      </button>
    </div>
  </div>  
</div>
