<div class="row">
  <div class="col-xl-4">
    <div class="card card-1 mb-4">
      <h3 class="card-title">Цветы</h3>
      <p class="card-text">Широкий ассортимент букетов и цветов!</p>
      <button class="button card-btn">
        <span class="button-text">Еще</span>
        <span class="view-button-icon"></span>
      </button>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card card-2 mb-4">
      <h3 class="card-title">Пиньяты</h3>
      <p class="card-text">Пиньята на детский праздник сможет порадовать вашего ребенка!</p>
      <button class="button card-btn">
        <span class="button-text">Еще</span>
        <span class="view-button-icon"></span>
      </button>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card card-3 mb-4">
      <h3 class="card-title">Свечи</h3>
      <p class="card-text">Свечи ручной работы на любой вкус и цвет!</p>
      <button class="button card-btn">
        <span class="button-text">Еще</span>
        <span class="view-button-icon"></span>
      </button>
    </div>
  </div>
</div>
