<div class="d-flex flex-column" style="height: 100vh">
  <app-social-networks style="z-index: 1;"></app-social-networks>
  <hr class="m-0" />
  <app-screen-header style="box-shadow: 0 0 20px rgba(0,0,0,0.2);" [headerText]="headerText"></app-screen-header>
  <div class="search-content px-4 px-md-0">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center align-items-center col-12">
          <div class="col-4">
            <mat-form-field class="w-100">
              <mat-select [(value)]="selectedCategory">
                <mat-option value="0">Все</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="search col-8">
            <span class="icon-22 search-icon" [routerLink]="['/search']"></span>
            <input type="text" class="col-11" placeholder="Поиск"
                   [(ngModel)]="searchValue" (keyup)="searchValueChanged()"
                   (paste)="searchValuePasted()">
          </div>
        </div>
        <div *ngIf="isLoading" class="spinner col-12 mt-5">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!isLoading" class="catalog-grid col-12">
          <mat-grid-list cols="4" rowHeight="385px">
            <ng-container *ngFor="let good of gridData.data">
              <mat-grid-tile>
                <div class="goods-card">
                  <img [src]="good.photoPath" class="goods-image" />
                  <h3 class="goods-title">{{good.name}}</h3>
                  <p class="goods-description">{{good.description}}</p>
                  <a class="goods-price">{{good.price}} BYN</a>
                </div>
              </mat-grid-tile>
            </ng-container>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
  <div style="z-index: 1; margin-top: -6px; box-shadow: 0 0 20px rgba(0,0,0,0.2);">
    <app-footer style="box-shadow: 0 0 20px rgba(0,0,0,0.2);" class="flex-shrink-0"></app-footer>
  </div>
</div>
