.icon-22 {
  height: 16px;
  width: 22px;
  margin-right: 10px;
}

.search-content {
  margin-top: 48px;
  flex: 1 0 auto;
}

::ng-deep.mat-select-arrow {
  width: 20px !important;
  height: 20px !important;
  background-size: 10px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/down-arrow.svg);
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

::ng-deep.mat-form-field-underline {
  display: none !important;
}

::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

::ng-deep.mat-select-value {
  vertical-align: middle;
}

  ::ng-deep.mat-select-value {
    padding-bottom: 1px;
  }

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #6c84b3;
}

::ng-deep.mat-select, ::ng-deep.mat-form-field-infix {
  font-family: 'Roboto Slab',sans-serif !important;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-icon {
  background-image: url('/assets/images/search.svg');
  background-repeat: no-repeat;
}

input:focus-visible {
  outline: none;
}

.search input, ::ng-deep.mat-form-field-infix {
  border: 1px solid rgba(35, 40, 44, 0.3);
  border-radius: 15px;
  padding: 4px 20px;
  font-size: 14px;
}

::ng-deep.mat-form-field-infix {
  padding: 4px 10px 3px 20px !important;
}

::ng-deep.mat-select-panel {
  min-width: calc(100% + 22px) !important;
}

  .search input:focus {
    border: 1px solid #23282c;
  }

.catalog-grid {
  margin-top: 30px;
  margin-bottom: 48px;
}

mat-grid-tile {
  background: lightblue;
}

.goods-card {
  position: relative;
  text-align: center;
  padding: 30px 35px 35px 35px;
  font-weight: 300;
}

.goods-title {
  margin: 15px 0 5px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 25px;
  color: #23282c;
}

.goods-description {
  font-size: 14px;
  line-height: 20px;
  color: #23282c;
  margin: 0;
}

.goods-price {
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #23282c;
  cursor: pointer;
}

  .goods-price:hover {
    border: 1px solid #23282c;
    border-radius: 20px;
    padding: 0 10px;
    line-height: 28px;
    text-decoration: none;
  }

.spinner {
  display: flex;
  justify-content: center;
}

::ng-deep.mat-progress-spinner circle {
  stroke: #a1b4d8;
}

mat-spinner, ::ng-deep.mat-progress-spinner svg {
  width: 70px !important;
  height: 70px !important;
}

.sorting-block {
  margin-top: 15px;
}

.sorting-item-small {
    font-size: 14px;
}

.sorting-item, .sorting-item-small {
  padding: 1px 10px;
  cursor: pointer;
  color: #7b96ca;
}

  .sorting-item:hover, .sorting-item-small:hover {
    color: #a1b4d8;
  }

.active-sorting-item {
  color: #23282c;
  background: rgba(35, 40, 44, 0.05);
  border-radius: 25px;
  border: 1px solid #23282c;
  padding: 0px 9px;
}

  .active-sorting-item:hover {
    border: none;
    color: #23282c;
    padding: 1px 10px;
  }

.pagination-block {
    margin-top: 30px;
}

  .pagination-block div:first-child:hover .left-chevron-icon {
    background-image: url('/assets/images/left-chevron-gray.svg');
  }

  .pagination-block div:last-child:hover .right-chevron-icon {
    background-image: url('/assets/images/right-chevron-gray.svg');
  }

.pages-btn-itm {
    min-width: 40px;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.pages-status {
  margin: 0;
}

.hiddenBtn {
    display: none;
}

.prev-next-btns {
  border: none;
  background-color: unset;
}

.btn-icon-22 {
  height: 22px;
  width: 22px;
}

.left-chevron-icon {
  width: 100%;
  background-image: url('/assets/images/left-chevron.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.right-chevron-icon {
  width: 100%;
  background-image: url('/assets/images/right-chevron.svg');
  background-position: center;
  background-repeat: no-repeat;
}
