<div class="cart-summary">
  <div class="row cart-summary-title">
    <p class="col-7 pr-0">Итого</p>
    <p class="col-5 d-flex justify-content-end">63 BYN</p>
  </div>
  <div class="row cart-summary-text">
    <p class="col-7 pr-0">Товары, 9 шт</p>
    <p class="col-5 d-flex justify-content-end">84 BYN</p>
  </div>
  <div class="row cart-summary-text">
    <p class="col-7 pr-0">Скидка</p>
    <p class="col-5 d-flex justify-content-end">-21 BYN</p>
  </div>
  <div class="row cart-summary-text">
    <p class="col-7 pr-0">Доставка</p>
    <p class="col-5 d-flex justify-content-end">Бесплатно</p>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="button w-100">Заказать</button>
    </div>    
  </div>
</div>
