<footer class="footer">
  <div class="container">
    <div class="row justify-content-xl-between">
      <div class="col-xl-6 mb-3 mb-xl-0">
        <nav>
          <ul class="footer-menu d-sm-flex">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">О Нас</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Часто задаваемые вопросы</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xl-3 mb-3 mb-xl-0 d-flex align-items-center">
        <span class="footer-text">Мы в социальных сетях:</span>
        <span class="footer-social d-inline-flex align-items-center">
          <a href="#" class="social-link">
            <img src="assets/images/vk.svg" alt="icon: vk" />
          </a>
          <a href="#" class="social-link">
            <img src="assets/images/instagram.svg" alt="icon: instagram" />
          </a>
          <a href="#" class="social-link">
            <img src="assets/images/viber.svg" alt="icon: viber" />
          </a>
        </span>
      </div>
      <div class="col-xl-3">
        <span class="footer-text d-flex justify-content-xl-end">©2021 Цветы</span>
      </div>
    </div>
    <hr class="footer-line mt-4 mb-4" color="#fff" size="1" />
    <div class="row justify-content-lg-between">
      <div class="col-xl-3 col-lg-4 col-sm-9 footer-cards">
        <img src="assets/images/visa.svg" alt="visa logo" />
        <img src="assets/images/mastercard.svg" alt="mastercard logo" />
        <img src="assets/images/belcard.png" alt="belcard logo" />
      </div>
      <div class="col-lg-2 col-sm-3 d-flex justify-content-end">
        <a href="#" class="top-link d-flex align-items-center">
          <span class="top-link-text">Наверх</span>
          <img src="assets/images/up-arrow.svg" alt="icon: arrow top" class="arrow-up" />
        </a>
      </div>
    </div>
  </div>
</footer>
