.header {
  padding: 5px 0;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #23282c;
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.button-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  background-image: url('/assets/images/shopping-cart-white.svg');
}

.button:hover .button-icon {
  background-image: url('/assets/images/shopping-cart-black.svg');
}
