.icon-17 {
  height: 17px;
  width: 17px;
  margin-right: 10px;
}

.footer {
  background: #a1b4d8;
  padding: 25px 0 20px 0;
  color: #fff;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  cursor: pointer;
}

.footer-menu-item:not(:last-child) {
  margin-right: 40px;
}

.footer-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #fff;
}

  .footer-menu-link:hover {
    color: #e0eaf5;
  }

.footer-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #e0eaf5;
  font-weight: 300;
  cursor: default;
}

.footer-social {
  margin-left: 15px;
}

.instagram-icon {
  background-image: url('/assets/images/instagram.svg');
  cursor: pointer;
}

.link {
  position: absolute;
  width: 17px;
  height: 17px;
}

.instagram-link:hover {
  background-image: url('/assets/images/instagram-light-gray.svg');
}

.viber-icon {
  background-image: url('/assets/images/viber.svg');
  cursor: pointer;
}

.viber-link:hover {
  background-image: url('/assets/images/viber-light-gray.svg');
}

.telegram-icon {
  background-image: url('/assets/images/telegram-white.svg');
  cursor: pointer;
}

.telegram-link:hover {
  background-image: url('/assets/images/telegram-light-gray.svg');
}

.footer-line {
  opacity: 0.5;
}

.footer-cards img {
  width: 42px;
  vertical-align: middle;
  margin-right: 25px;
  opacity: 0.8;
}

  .footer-cards img:last-child {
    /*height: 30.5px;*/
    width: 30px;
    opacity: 1;
  }

.top-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

  .top-link:hover span {
    color: #e0eaf5;
  }

  .top-link:hover .up-arrow-icon {
    background-image: url('/assets/images/up-arrow-light-gray.svg');
  }

.top-link-text {
  margin-right: 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.arrow-up {
  height: 35px;
  width: 35px;
}

.up-arrow-icon {
  background-image: url('/assets/images/up-arrow.svg');
}
