<footer class="footer">
  <div class="container">
    <div class="row justify-content-xl-between">
      <div class="col-xl-6 mb-3 mb-xl-0">
        <nav>
          <ul class="footer-menu d-sm-flex">
            <li class="footer-menu-item">
              <a [routerLink]="['/delivery-pay']" class="footer-menu-link">Доставка и оплата</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xl-3 mb-3 mb-xl-0 d-flex align-items-center">
        <span class="footer-text">Социальные сети:</span>
        <span class="footer-social d-inline-flex align-items-center">
          <span class="icon-17 instagram-icon">
            <a href="#" class="link instagram-link"></a>
          </span>
          <span class="icon-17 viber-icon">
            <a href="#" class="link viber-link"></a>
          </span>
          <span class="icon-17 telegram-icon">
            <a href="#" class="link telegram-link"></a>
          </span>
        </span>
      </div>
      <div class="col-xl-3">
        <span class="footer-text d-flex justify-content-xl-end">©2021 Цветы</span>
      </div>
    </div>
    <hr class="footer-line mt-3 mb-2" color="#fff" size="1" />
    <div class="row justify-content-lg-between">
      <div class="col-xl-3 col-lg-4 col-sm-9 footer-cards">
        <img src="assets/images/visa.svg" alt="visa logo" />
        <img src="assets/images/mastercard.svg" alt="mastercard logo" />
        <img src="assets/images/belcard.png" alt="belcard logo" />
      </div>
      <div class="col-lg-2 col-sm-3 d-flex justify-content-end">
        <a (click)="toTop()" class="top-link d-flex align-items-center">
          <span class="top-link-text">Наверх</span>
          <span class="up-arrow-icon arrow-up"></span>
        </a>
      </div>
    </div>
  </div>
</footer>
