<div>
  <div class="slide">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-10 offset-lg-1">
          <span class="label">Товар дня</span>
          <h2 class="slide-title">Лилии</h2>
          <p class="slide-description">Шикарные лилии по отличной цене. Только сегодня!</p>
          <button class="button">
            <span class="button-price">7 BYN</span>
            <span class="button-text">В корзину</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
