<div class="row align-items-center mb-4">
    <div class="col-9">
      <h2 class="section-title">Новое поступление</h2>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <a href="#" class="link-more">Еще</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="goods-card">
        <span class="label">Новое</span>
        <img src="assets/images/goods1.png" alt="image: flower" class="goods-image" />
        <h3 class="goods-title">Гербера</h3>
        <p class="goods-description">Желтая/Оранжевая/Розовая/Красная</p>
        <span class="goods-price">4 BYN</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="goods-card">
        <span class="label">Новое</span>
        <img src="assets/images/goods2.png" alt="image: candle" class="goods-image" />
        <h3 class="goods-title">Свеча</h3>
        <p class="goods-description">Ваниль/Роза/Лаванда/Лимон/Ландыш</p>
        <span class="goods-price">20 BYN</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="goods-card">
        <span class="label">Новое</span>
        <img src="assets/images/goods3.png" alt="image: pinata" class="goods-image" />
        <h3 class="goods-title">Пиньята</h3>
        <p class="goods-description">Свинка/Мышка/Человек-паук/Кошка</p>
        <span class="goods-price">40 BYN</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="goods-card">
        <span class="label">Новое</span>
        <img src="assets/images/goods4.png" alt="image: postcard" class="goods-image" />
        <h3 class="goods-title">Открытка</h3>
        <p class="goods-description">День Рожения/Свадьба/Юбилей</p>
        <span class="goods-price">2 BYN</span>
      </div>
    </div>
  </div>
