@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', 'sans-serif';
}

button:not(:disabled) {
  outline: none;
}

.button-price {
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
}

.button {
  padding: 10px 20px;
  background: #23282c;
  border-radius: 20px;
  color: #fff;
  border: none;
  font-family: 'Roboto Slab', 'sans-serif';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

  .button:hover {
    background: #fff;
    border: 1px solid #23282c;
    color: #23282c;
    padding: 9px 18px;
  }

.label {
  background-color: #f09b95;
  border-radius: 3px;
  padding: 5px 12px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a1b4d8 #e3e2e3;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #e3e2e3;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a1b4d8;
    border-radius: 20px;
    border: 3px solid #e3e2e3;
  }
