input[type="radio"] {
  /*remove standard background appearance*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*create custom radiobutton appearance*/
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid #23282c;
  border-radius: 50%;
  cursor: pointer;
}

  input[type="radio"]:checked {
    background-color: #23282c;
  }

.home-content {
  flex: 1 0 auto;
}

  .address-form label {
    margin-bottom: 4px;
  }

.address-form-label {
  margin-top: 2px;
  margin-bottom: 10px !important;
  font-size: 20px;
  font-weight: 500;
}

.radio-items {
  margin-bottom: 25px;
}

.address-radio {
  cursor: pointer;
}
