input[type="radio"] {
  /*remove standard background appearance*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*create custom radiobutton appearance*/
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid #23282c;
  border-radius: 50%;
  cursor: pointer;
}

  input[type="radio"]:checked {
    background-color: #23282c;
  }

.home-content {
  flex: 1 0 auto;
}

.delivery-text {
  padding: 20px 40px;
}

.delivery-text p {
  margin: 5px;
  letter-spacing: 0.3px;
}

.delivery-schedule-text {
    padding: 10px 20px;
    font-size: 14px;
}

.address-form {
  margin-bottom: 48px;
}

.address-form-title {
  margin-top: 2px;
  margin-bottom: 20px !important;
}

.radio-items {
  margin-bottom: 20px;
}

.address-radio {
  cursor: pointer;
  padding-left: 40px;
}
