<div class="d-flex flex-column" style="height: 100vh">
  <app-social-networks style="z-index: 2;"></app-social-networks>
  <hr class="m-0" />
  <app-nav-menu style="box-shadow: 0 0 20px rgba(0,0,0,0.2); z-index: 1;"></app-nav-menu>
  <hr class="m-0" />
  <div class="main-block">
    <div class="main-block-content container">
      <h1 class="main-block-title">Цветы</h1>
      <h3 class="main-block-subtitle">для Ваших особых случаев</h3>
      <div class="main-block-btn">
        <button class="button" [routerLink]="['/search']">
          <span class="button-text" [routerLink]="['/search']">В каталог</span>
        </button>
      </div>
    </div>
  </div>
  <div class="home-content container pt-5 pb-4">
    <app-sections-cards></app-sections-cards>
    <div class="delivery">
      <h2 class="delivery-title">Доставка</h2>
      <div class="delivery-text">
        <p>Стоимость доставки по Витебску 4 рубля.</p>
        <p><b>Бесплатная доставка</b> при стоимости заказа от 30 рублей.</p>
        <p>Доставка букетов производится ежедневно:</p>
        <div class="delivery-schedule-text">
          <p>Понедельник-Пятница: с 09:00 до 19:00;</p>
          <p>Суббота-Воскресенье: с 10:00 до 18:00;</p>
        </div>
        <p>Заказы на доставку принимаются ежедневно:</p>
        <div class="delivery-schedule-text">
          <p>Понедельник-Пятница: с 09:00 до 18:00;</p>
          <p>Суббота-Воскресенье: с 10:00 до 17:00;</p>
        </div>
        <p>Доставка в не рабочее время оговаривается индивидуально.</p>
        <p>Можем доставить цветы <b>анонимно/сюрпризом</b>.</p>
      </div>
    </div>
    <div class="address-form" [formGroup]="addressForm">
      <h2 class="address-form-title">Адрес магазина</h2>
      <div class="d-flex flex-column radio-items">
        <div *ngFor="let address of addresses; let i = index">
          <label class="d-flex align-items-center address-radio">
            <input type="radio" class="mr-2" formControlName="address" [value]="address.id">
            {{address.name}}
          </label>
        </div>
      </div>
      <div>
        <iframe *ngIf="addressForm.get('address')!.value === 1" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1610.8177326086054!2d30.230079119409186!3d55.182565196411964!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x93e74ffae15c81ef!2z0KbQstC10YLQvtGH0L3Ri9C5INC80LDQs9Cw0LfQuNC9IMKr0JDRgdGC0YDQsMK7!5e0!3m2!1sru!2sby!4v1630858366490!5m2!1sru!2sby"
                class="w-100" height="400" style="border:0; border-radius: 10px; box-shadow: 0 0 20px rgba(0,0,0,0.2);" loading="lazy">
        </iframe>
      </div>
    </div>
  </div>
  <app-footer class="flex-shrink-0" style="box-shadow: 0 0 20px rgba(0,0,0,0.2);"></app-footer>
</div>
