.back-button {
  border: none;
  background: none;
}

  .back-button:hover {
    opacity: 0.6;
  }

.back-icon {
  height: 15px;
  width: 15px;
  margin-right: 12px;
  background-image: url('/assets/images/back.svg');
}

.back-text {
  color: #23282c;
  font-size: 16px;
}

.screen-header-title {
  color: #23282c;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
