.header {
  padding: 5px 0;
}

.icon-22 {
  height: 22px;
  width: 22px;
  margin-right: 10px;  
}

.button-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;  
}

.cart-icon {
  background-image: url('/assets/images/shopping-cart-white.svg');
}

.button:hover .cart-icon {
  background-image: url('/assets/images/shopping-cart-black.svg');
}

.phone-icon {
  background-image: url('/assets/images/phone.svg');
}

.phone-text {
  margin-bottom: 2px;
  cursor: pointer;
  color: #212529;
  text-decoration: none;
  letter-spacing: 0.5px;
}

  .phone-text:hover {
    color: #898e92;
  }

.search-icon {
  background-image: url('/assets/images/search.svg');
  cursor: pointer;
}

  .search-icon:hover {
    background-image: url('/assets/images/search-gray.svg');
  }

.location-icon {
  background-image: url('/assets/images/location.svg');
}

.address {
  cursor: pointer;
  letter-spacing: 0.5px;
}

  .address:hover {
    color: #898e92;
  }

.schedule {
  font-size: 14px;
  cursor: default;
  letter-spacing: 0.5px;
}

.button-text {
  font-weight: 400;
}

.phone-link {
  position: absolute;
  width: 22px;
  height: 22px;
}

    .phone-link:hover {
      background-image: url('/assets/images/phone-gray.svg');
    }

.location-link {
  cursor: pointer;
}

  .location-link:hover {
    background-image: url('/assets/images/location-gray.svg');
  }

@media (max-width: 992px) {
  .cart .button {
    padding: 10px 10px;
  }

  .button-icon {
      margin-right: 2px;
  }
   
  .logo {
      justify-content: center;
  }
}
