<header class="container header px-4 px-md-0">
  <div class="row justify-content-between align-items-center">
    <div class="logo d-flex col-3 col-md-2">
      <a [routerLink]="['/']" class="logo-link">
        <img src="assets/images/logo.png" alt="logo: Flowers Shop" class="logo-image" />
      </a>
    </div>
    <div class="col-lg-8 d-none d-lg-block">
      <div class="d-flex justify-content-around">
        <div class="d-flex align-items-center">
          <span class="icon-22 phone-icon"></span>
          <a href="tel:+375 (29) 777-777-77" class="phone-text">+375 (29) 777-777-77</a>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 search-icon" [routerLink]="['/search']"></span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 location-icon"></span>
          <div class="d-flex flex-column">
            <span class="address" (click)="onAddressClick()">{{address}}</span>
            <span class="schedule">Пн-Пт: 09:00-19:00, Сб-Вс: 10:00-18:00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7 col-md-9 d-lg-none">
      <div class="d-flex justify-content-around">
        <div class="d-flex align-items-center">
          <span class="icon-22 phone-icon">
            <a href="tel:+375 (29) 777-777-77" class="phone-link"></a>
          </span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 search-icon" [routerLink]="['/search']"></span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 location-icon location-link" (click)="onAddressClick()"></span>
        </div>
      </div>
    </div>
    <div class="cart col-lg-2 col-md-1 col-2 d-flex justify-content-end">
      <button class="button" [routerLink]="['/cart']">
        <span class="button-icon cart-icon"></span>
        <span class="button-text d-lg-flex d-none">Корзина</span>
      </button>
    </div>
  </div>
</header>
