<header class="container header px-4 px-md-0">
  <div class="row d-block d-sm-flex justify-content-sm-between align-items-center">
    <div class="logo d-flex col-12 col-sm-3 col-md-2 mt-1 mt-sm-0 pr-lg-0">
      <a [routerLink]="['/']" class="logo-link">
        <img src="assets/images/logo.png" alt="logo: Flowers Shop" class="logo-image" />
      </a>
    </div>
    <div class="col-lg-9 d-none d-lg-block pl-0">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <span class="icon-22 phone-icon"></span>
          <a href="tel:+375 (29) 777-777-77" class="phone-text">+375 (29) 777-777-77</a>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 search-icon" [routerLink]="['/search']"></span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 location-icon"></span>
          <div class="d-flex flex-column">
            <span class="address" (click)="onAddressClick()">{{address}}</span>
            <span class="schedule">Пн-Пт: 09:00-19:00, Сб-Вс: 10:00-18:00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-7 col-md-8 d-lg-none mt-3 mb-2 mt-sm-0 mb-sm-0">
      <div class="d-flex justify-content-around justify-content-sm-between">
        <div class="d-flex align-items-center">
          <span class="icon-22 phone-icon">
            <a href="tel:+375 (29) 777-777-77" class="phone-link"></a>
          </span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 search-icon" [routerLink]="['/search']"></span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-22 location-icon location-link" (click)="onAddressClick()"></span>
        </div>
      </div>
    </div>
  </div>
</header>
