<div class="social-networks-content">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center py-1">
      <div class="info-links">
        <a class="payment-delivery-link">Оплата и доставка</a>
        <a class="contacts-link">Контакты</a>
      </div>

      <div class=" justify-content-end">
        <div class="d-flex align-items-center">
          <span class="icon-17 instagram-icon">
            <a href="#" class="link instagram-link"></a>
          </span>
          <span class="icon-17 viber-icon">
            <a href="#" class="link viber-link"></a>
          </span>
          <span class="icon-17 telegram-icon">
            <a href="#" class="link telegram-link"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
