.icon-17 {
  height: 17px;
  width: 17px;
  margin-right: 10px;
}

.social-networks-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-networks-menu-item {
  cursor: pointer;
}

.social-networks-menu-item:not(:last-child) {
  margin-right: 40px;
}

.social-networks-menu-link {
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #212529;
}

  .social-networks-menu-link:hover {
    color: #898e92;
  }

.social-networks-content {
  background-color: #fff;
}

.instagram-icon {
  background-image: url('/assets/images/instagram-black.svg');
  cursor: pointer;
}

.link {
  position: absolute;
  width: 17px;
  height: 17px;
}

.instagram-link:hover {
  background-image: url('/assets/images/instagram-gray.svg');
}

.viber-icon {
  background-image: url('/assets/images/viber-black.svg');
  cursor: pointer;
}

.viber-link:hover {
  background-image: url('/assets/images/viber-gray.svg');
}

.telegram-icon {
  background-image: url('/assets/images/telegram.svg');
  cursor: pointer;
}

.telegram-link:hover {
  background-image: url('/assets/images/telegram-gray.svg');
}
