<div class="social-networks-content">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center py-1">
      <div class="social-networks-links">
        <nav>
          <ul class="social-networks-menu d-sm-flex">
            <li class="social-networks-menu-item">
              <a href="#" class="social-networks-menu-link">Оплата и доставка</a>
            </li>
            <li class="social-networks-menu-item">
              <a href="#" class="social-networks-menu-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class=" justify-content-end">
        <div class="d-flex align-items-center">
          <span class="icon-17 instagram-icon">
            <a href="#" class="link instagram-link"></a>
          </span>
          <span class="icon-17 viber-icon">
            <a href="#" class="link viber-link"></a>
          </span>
          <span class="icon-17 telegram-icon">
            <a href="#" class="link telegram-link"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
