<div class="container">
  <div class="row justify-content-end py-1">
    <div>
      <div class="d-flex align-items-center">
        <span class="icon-17 instagram-icon">
          <a href="#" class="link instagram-link"></a>
        </span>
        <span class="icon-17 viber-icon">
          <a href="#" class="link viber-link"></a>
        </span>
        <span class="icon-17 telegram-icon">
          <a href="#" class="link telegram-link"></a>
        </span>
      </div>
    </div>
  </div>
</div>
